table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 2px;
}

/* th { 
  background-color: #f2f2f2;
}*/

.total {
  text-align: center;
  /*background-color: #f2f2f2;*/
}

.name,
.web {
  text-align: center;
}

.green-col {
  background-color: lightgreen;
}

.red-col {
  background-color: lightcoral;
}
